# We do not exclude build output directories just by name
# because a source directory might contains a directory named so as well.

# Maven build directory of projects
/*/target/

# Gradle directories
.gradle/
/build/
/*/build/
/subprojects*/*/build/

# Ignore private NetBeans settings
.nb-gradle/
.nb-gradle-properties
nbproject/
